<template name="dailyRecipe">
  <div class="row">
    <div class="col-xs-12 aligncenter">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Today's recipe</button>
    </div>
    <div class="col-xs-12 aligncenter">
    <button type="button" class="add-ing btn btn-info btn-lg">Add ingredientskljadkal</button>
    </div>
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recipe of the day</h4>
      </div>
      <div class="modal-body" style="padding-bottom:0px;">
        <p>{{>recipeOfTheDay}}</p>
      </div>
      <div class="modal-footer" style="padding:5px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</template>
