<template name="foodCam">
  <div class="container nopadding nomargin">
    <button type="button" class="btn btn-default takePicture col-xs-12">Take Picture</button>
    
    <br>
    <hr/>
    <br>

    <div class="col-xs-12 aligncenter">
      <img class="photo aligncenter camSizeCustom" src="" alt="Upload Recipt"/>
    </div>

    <br>
    <hr/>
    <br>

    <div class="row">
      <div class="fileinput fileinput-new col-xs-8 col-centered aligncenter fullwidth" data-provides="fileinput">
          <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" class="filePath"/></span>
          <span class="fileinput-filename"></span><span class="fileinput-new"></span>
      </div>
      <div class="col-xs-8 col-centered quirkyone">
        <button type="button" class="btn btn-default uploadPicture fullwidth aligncenter">Upload Picture</button>
      </div>
    </div>

    {{test}}
  </div>
</template>
