/* CSS declarations go here */
.nopadding {
    padding: 0 0 0 0;
}

.nomargin {
    margin: 0 0 0 0;
}

.aligncenter {
    text-align: center;
}

.fullwidth {
    width: 100%;
}

.quirkyone {
    left: 16.7%;
}

.camSizeCustom {
    width: 500px;
}

.topMain {
    padding-top: 10px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.image-class {
    height: 206px;
}

.missing-stuff {
    margin-top: 10px;
}

.middle-content {
    text-align: center;
}


@font-face {
    font-family: Homizio;
    src: url(/fonts/black.ttf);
}

.title {
    font-family: 'Homizio';
    letter-spacing: 5px;
}

.titleIcon {
    margin-bottom: 19px;
}

.modal-backdrop {
    opacity: 0 !important;
}

.modal {
    bottom: 80px !important;
    top: 80px !important;
}

.mainFridge {
    height: 397px;
    margin-top: 107px;
}

.wtf {
    padding-top:100px;
}

h2 {
    margin-top: 7px;
}
