<template name="recipe">
  <!-- {{> showRecipes}} -->
  <!-- {{>singleRecipe}} -->
  {{>recipeOfTheDay}}
</template>


<template name="showRecipes">
  <ul>
    {{#each recipes}}
      <li>
        <a href={{href}}>
          <img src={{thumbnail}}>
          <br />
          {{title}}
        </a>
      </li>
    {{/each}}
    Powered by <a href="http://www.recipepuppy.com" style="font-size:10px;">Recipe Puppy</a>
  </ul>
</template>

<template name="singleRecipe">
  {{#with recipe}}
			<iframe src={{href}} style="border: 0; width: 100%; height: 70vh"></iframe>
  {{/with}}
</template>

<template name="recipeOfTheDay">
  {{#if showAll}}
    {{>showRecipes}}
  {{else}}
    {{>singleRecipe}}
    <button class="btn show-all-btn">Show others</button>
  {{/if}}
</template>
