<template name="recipe">
  <!-- {{> showRecipes}} -->
  <!-- {{>singleRecipe}} -->
  {{>recipeOfTheDay}}
</template>

<template name="showRecipes">
  <ul>
    {{#each recipes}}
      <li>
        <a href={{href}}>
          <img src={{thumbnail}}>
          <br />
          {{title}}
          Missing ingredients:
          {{>missingIngredients}}
        </a>
      </li>
    {{/each}}
    Powered by <a href="http://www.recipepuppy.com" style="font-size:10px;">Recipe Puppy</a>
  </ul>
</template>

<template name="singleRecipe">
  {{#with recipe}}
    <div class="middle-content">
      <a href={{href}}>
      <h2>
        {{title}}
      </h2>
      <br/>
        <img class="img-rounded image-class" src={{thumbnail}}></a>
    </div>
			<!-- <iframe src={{href}} style="border: 0; width: 100%; height: 60vh"></iframe> -->
      <br/>
      <div class="missing-stuff">
        Missing ingredients:
        {{>missingIngredients}}
        <br /> <br />
      </div>
  {{/with}}
</template>

<template name="missingIngredients">
  {{#each diffIngredients ingredients}}   
  <button class="btn btn-sm btn-danger">
    {{this}}
  </button>
  {{/each}}
</template>

<template name="recipeOfTheDay">
    {{>singleRecipe}}
    <button class="btn show-prev-btn {{canClickPrev}}">Show prev</button>
    <button class="pull-right btn show-next-btn {{canClickNext}}">Show next</button>
</template>
